.currentTurn {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    h1 {
      color: white;
      font-size: 20px;
      text-shadow: 3px 3px 8px #BF7F00, -3px -3px 8px #BF7F00;
    }
}