.header {
  display: flex;
  padding: 2rem;
  display: flex;
  color: white;
  align-items: center;
  background: #072932;
}

.content {
  color: #fff;
  padding: 2rem;
  height: calc(100vh - 64px) !important;
  background: linear-gradient(180deg, #367146 0%, #297374 100%), #297374;
}

.leaderboard {
  right: 0;
  bottom: 0;
  color: white;
  width: 300px !important;
  padding: 2rem;
  background: #205051 !important;
}